.custom-slider {
    display: none;
    position: absolute;

    top: 50%;
    transform: translateY(-44%);
    width: 36px;
    height: 34px;
    flex-shrink: 0;
    z-index: 1;

    position: absolute;
    left: 0;


}   

.input-field.slider-active .custom-slider {
    display: block;
    height: 120px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    z-index: 2;
}

.input-field.slider-active .custom-slider::before,
.input-field.slider-active .custom-slider::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
}

.input-field.slider-active .custom-slider::before {
    top: 10px;
    transform: translateX(-50%) rotate(45deg);
}

.input-field.slider-active .custom-slider::after {
    bottom: 10px;
    transform: translateX(-50%) rotate(225deg);
}

.mobile-device .custom-slider {
    display: block;
} 

/* Стили для значения слайдера */
.custom-slider .slider-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--text-color);
}

/* Увеличиваем размер в активном состоянии */
.input-field.slider-active .custom-slider .slider-value {
    font-size: 18px;
    font-weight: 500;
} 